.page{
    /* padding-left: 50px;
    padding-right: 50px; */
    background-color: wheat;
}

.pageTitle{
    display: block;
    text-align: center;
    font-size: 75px;
    font-weight: lighter;
    color: black;
    }

.heading_1 {
    text-align: center;
    color:wheat; 
    font-size: 70px;   
}

/*First section*/
.paragraphs{   
    padding-right: 50px;   
    padding-left: 50px;
    line-height: 55px;
    color:white; 
    font-size: 30px;
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Aligns content at the top */
    flex-direction: column;
    background-color: brown;       
    margin: 70px;
    border-style: solid;    
    border-color: white;   
    
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 40px;    
    text-decoration: underline;
    border-radius: 20%;    
    float: inline-end;      
}

/*Second section*/
.flex-container2{
    background-color: lightyellow !important;
    border-color: black !important;
    border-style: solid;
    padding-left: 50px;   
    margin: 70px;
}



.contactText{
    text-align: center;
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contactInfo{
    text-underline-position: below;
    font-size: 30px;
    text-decoration: underline;
}



