.title{
display: block;
text-align: center;
font-size: 75px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: lighter;
color: darkgray;
}

.page{
    padding-left: 50px;
    padding-right: 50px;
    background-color: darkblue;
}

.heading_1 {
    text-align: center;
    color:wheat; 
    font-size: 30px;   
}

/*First section*/
.paragraphs{   
    padding-right: 50px;   
    padding-left: 50px;
    color:white; 
    font-size: large;
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Aligns content at the top */
    background-color: brown;   
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.image {
    margin-left: 0px; /* Space between image and text */
    
}

/*Second section*/
.flex-container2{
    background-color: gray !important;
    padding-left: 50px;
}


.contactText{
    text-underline-position: below;
    font-size: larger;
    text-decoration: underline;
}



