.footer{
    margin-left: -50px;
    margin-right: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: black;
    font-size: 23px;
    text-align: center;
}
