.page{
    /* padding-left: 25px;
    padding-right: 25px; */
    background-color: wheat;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;   
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 125px;
    margin-right: 125px;
    padding-left: 40px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    border-style: solid;    
    border-color: black; 
}


.pageTitle{
    display: block;
    text-align: center;
    font-size: 75px;
    font-weight: lighter;
    color: black;
    }


.heading_1 {
    text-align: center;
    color:black; 
    font-size: 30px;   
}

.subContainer{
    display: flex;
    flex-wrap: wrap;  
    
    margin-bottom: 30px;
    /* background-color: grey; */
}


.person {
    color:black; 
    /* background-color: green;     */
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 25px;       
}

.images2{    
    height: auto;
    width: 275px;
    float:left; 
}

.subContainerParagraph{
    background-color: rgb(228, 209, 209);
    font-size: 25px;
    flex-wrap: wrap;
    margin-left: 295px;
    margin-right: 35px;
    padding:5px;
    line-height: 45px;
    text-align: center;
    border-radius: 10%;
}


.images{
    height: auto;
    width: 500px;
    float: right;   
}


.paragraphs{
    color:black; 
    font-size: large;
    flex-wrap: wrap;
    padding-right: 35px ;
    line-height: 35px;
}
